[Desktop Entry]
Type=Service
Comment=Sysinfo Viewer
Comment[de]=Betrachter für System-Informationen
Comment[el]=Προβολέας Sysinfo
Comment[en_GB]=Sysinfo Viewer
Comment[es]=Visor Sysinfo
Comment[et]=Süsteemi info näitaja
Comment[fr]=Outil d'affiche pour Sysinfo
Comment[gl]=Visor de Sysinfo
Comment[hr]=Preglednik informacija o sustavu
Comment[km]=កម្មវិធី​មើល Sysinfo
Comment[nds]=Systeeminfo-Kieker
Comment[nl]=Sysinfo-viewer
Comment[pa]=ਸਿਸਟਮ ਜਾਣਾਕਰੀ ਵੇਖੋ
Comment[pt]=Visualizador de Informação do Sistema
Comment[pt_BR]=Visualizador do Sysinfo
Comment[ro]=Vizualizator informații sistem
Comment[ru]=Сведения о системе
Comment[sv]=Visning av systeminformation
Comment[tr]=Sistem Bilgileri
Comment[uk]=Перегляд системної інформації
Comment[x-test]=xxSysinfo Viewerxx
MimeType=application/x-sysinfo;
Name=Sysinfo
Name[cs]=Sysinfo
Name[de]=Sysinfo
Name[el]=Sysinfo
Name[en_GB]=Sysinfo
Name[es]=Sysinfo
Name[et]=Sysinfo
Name[fr]=Sysinfo
Name[gl]=Sysinfo
Name[hr]=Sysinfo
Name[km]=Sysinfo
Name[nds]=Sysinfo
Name[nl]=Sysinfo
Name[pa]=ਸਿਸ-ਇੰਫੋ
Name[pt]=Informação do Sistema
Name[pt_BR]=Sysinfo
Name[ro]=Sysinfo
Name[ru]=Сведения о системе
Name[sv]=Systeminformation
Name[tr]=Sysinfo
Name[uk]=Системна інформація
Name[x-test]=xxSysinfoxx
ServiceTypes=KParts/ReadOnlyPart,Browser/View
X-KDE-Library=libksysinfopart
